* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color:#4b5936;
    font-family: Helvetica, Arial, sans-serif;
   
}

h1{
    font-weight: bold;
    font-size: 70px;
    color: black;
    margin: 0;
    display: inline;
    

   
}
header{
    background-color:#495f73;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px 50px;
    padding-bottom: 90px;
    text-underline-position: below;
   
}

h2{
    color: black;
    margin: 0;
    font-weight: bold;


}



.portfolio{
    text-decoration: black;
   max-width: 88%;
   margin: 25px auto;
   display: flex;
   font-size: 25px;
   font-weight: 300px;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: space-between;
   


}

.section-heading{
border-right:solid black;
flex: 0 0 20%;
}
    
    

    


p{
    max-width: max-content;
    scroll-padding-block: 90px;
    font-size: larger;
   
}

section{
    max-height: max-content;
    
}

.hero-banner{
    background-image: url("./IMG_5212.JPG");
    min-height: 300px;
    margin: 0;
    background-size: contain;
    background-repeat:no-repeat;
}

.work-container{
display:flex;
flex-wrap: wrap;
justify-content: center;
}


.work{
min-height: 135px;
max-height: 135px;
flex-basis: calc(50% - 1em);
display:flex;
background-size: 150%;
transition: all 0.5s;
}
.work:first-child{
height: 350px;
flex-basis: 100%;
}



.big-image{
    background-image: url("./IMG_0736.JPG");
    min-height: 200px;

}

.small-image{
    background-image: url("./02-hero-bg.jpeg");
    min-height: 100px;
    background-size: cover;
}

nav{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav a {
    padding: 35px 35px;
}

header nav {
    margin: 7px 0;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 75px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 75px;
    
}

header nav ul li a {
    margin: 0 30px;
    font-weight: bolder;
    font-size: 1.55vw;
}

header a {
    text-decoration: none;
}

.hero {
    background-image: url("../Assets/02-hero-bg.jpeg");
    height: 600px;
    background-repeat:no-repeat;
}

header nav {
    font-size: x-large;
}













